<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>
                    <span>Copyright © 2015 -</span>
                    <span ng-bind="currentYear"></span>
                    <span translate="global.title"></span>
                </p>
                <p>
                    <span class="footer-text" translate="global.footer"></span>
                </p>
                <p class="pull-right">
                    <span class="footer-steam"><a href="http://steampowered.com">Powered by Steam</a></span>
                </p>
            </div>
        </div>
    </div>
</div>
