<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="settings.title" translate-values="{username: '{{settingsAccount.nickname || settingsAccount.login}}'}">User settings for <b>{{settingsAccount.nickname || settingsAccount.login}}</b></h1>

            <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>

            <form name="form" novalidate ng-submit="save()" show-validation>
                <div class="form-group">
                    <label for="nickname" translate="settings.form.nickname">Nickname</label>
                    <input class="form-control" id="nickname" name="nickname"
                           ng-model="settingsAccount.nickname" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.nickname.$dirty && form.nickname.$invalid">
                        <p class="help-block"
                           ng-show="form.nickname.$error.required" translate="settings.messages.validate.nickname.required">
                            Your nickname is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.nickname.$error.minlength" translate="settings.messages.validate.nickname.minlength">
                            Your nickname is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                           ng-show="form.nickname.$error.maxlength" translate="settings.messages.validate.nickname.maxlength">
                            Your nickname cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="firstName" translate="settings.form.firstname">First Name</label>
                    <input class="form-control" id="firstName" name="firstName"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                               ng-show="form.firstName.$error.required" translate="settings.messages.validate.firstname.required">
                            Your first name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.minlength" translate="settings.messages.validate.firstname.minlength">
                            Your first name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.firstName.$error.maxlength" translate="settings.messages.validate.firstname.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" translate="settings.form.lastname">Last Name</label>
                    <input class="form-control" id="lastName" name="lastName"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">
                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                               ng-show="form.lastName.$error.required" translate="settings.messages.validate.lastname.required">
                            Your last name is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.minlength" translate="settings.messages.validate.lastname.minlength">
                            Your last name is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                               ng-show="form.lastName.$error.maxlength" translate="settings.messages.validate.lastname.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100" ng-disabled="settingsAccount.activated">
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                    <span class="help-block" translate="settings.messages.email">Käytä oppilaitoksen sähköpostiosoitetta ensisijaisesti.</span>
                </div>

                <div class="form-group">
                    <label for="birthdate" translate="settings.form.birthdate">Birthdate</label>
                    <input type="date" class="form-control" id="birthdate" name="birthdate"
                           ng-model="settingsAccount.birthdate"
                           ng-minlength=1 ng-maxlength=50 maxlength="50">
                    <div ng-show="form.birthdate.$dirty && form.birthdate.$invalid">
                        <p class="help-block"
                           ng-show="form.birthdate.$error.required" translate="settings.messages.validate.birthdate.required">
                            Your guild is required.
                        </p>
                    </div>
                    <span class="help-block" translate="settings.messages.birth">Syntymäpäivää käytetään vain iän laskemiseen. Täytä edes syntymävuosi.</span>
                </div>

                <div class="form-group">
                    <label for="guild" translate="settings.form.guild">Guild</label>
                    <input class="form-control" id="guild" name="guild"
                           ng-model="settingsAccount.guild" ng-minlength=1 ng-maxlength=50 maxlength="50">
                    <div ng-show="form.guild.$dirty && form.guild.$invalid">
                        <p class="help-block"
                           ng-show="form.guild.$error.required" translate="settings.messages.validate.guild.required">
                            Your guild is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.guild.$error.minlength" translate="settings.messages.validate.guild.minlength">
                            Your guild is required to be at least 1 character.
                        </p>
                        <p class="help-block"
                           ng-show="form.guild.$error.maxlength" translate="settings.messages.validate.guild.maxlength">
                            Your guild cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" translate="settings.form.description">Description</label>
                    <textarea id="description" name="description" class="form-control" style="min-height: 100px"
                              ng-model="settingsAccount.description" ng-minlength=1 ng-maxlength=255 maxlength="255">
                    </textarea>
                </div>

                <div class="form-group">
                    <label translate="settings.form.rank" for="rank">Rank</label>
                    <select class="form-control" id="rank" name="rank" ng-model="settingsAccount.rank" required>
                        <option value="ge" translate="aklApp.rank.ge">ge</option>
                        <option value="smfc" translate="aklApp.rank.smfc">smfc</option>
                        <option value="lem" translate="aklApp.rank.lem">lem</option>
                        <option value="le" translate="aklApp.rank.le">le</option>
                        <option value="dmg" translate="aklApp.rank.dmg">dmg</option>
                        <option value="mge" translate="aklApp.rank.mge">mge</option>
                        <option value="mg2" translate="aklApp.rank.mg2">mg2</option>
                        <option value="mg1" translate="aklApp.rank.mg1">mg1</option>
                        <option value="gnm" translate="aklApp.rank.gnm">gnm</option>
                        <option value="gn3" translate="aklApp.rank.gn3">gn3</option>
                        <option value="gn2" translate="aklApp.rank.gn2">gn2</option>
                        <option value="gn1" translate="aklApp.rank.gn1">gn1</option>
                        <option value="sem" translate="aklApp.rank.sem">sem</option>
                        <option value="se" translate="aklApp.rank.se">se</option>
                        <option value="s4" translate="aklApp.rank.s4">s4</option>
                        <option value="s3" translate="aklApp.rank.s3">s3</option>
                        <option value="s2" translate="aklApp.rank.s2">s2</option>
                        <option value="s1" translate="aklApp.rank.s1">s1</option>
                    </select>
                </div>

                <!--<div class="form-group">
                    <label for="langKey" translate="settings.form.language">Language</label>
                    <select id="langKey" name="langKey" class="form-control" ng-model="settingsAccount.langKey" ng-controller="LanguageController" ng-options="code as (code | findLanguageFromKey) for code in languages"></select>
                </div>-->

                <button ng-disabled="form.$invalid" class="btn btn-primary" translate="settings.form.button">Save</button>
            </form>
        </div>
    </div>

</div>
