<div class="container">

    <akl-alert></akl-alert>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h2><span translate="user.player"></span> <b>{{user.nickname}}</b></h2>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td style="width: 200px">
                            <span translate="user.nickname">Nickname</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{user.nickname}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="user.firstName">First name</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{user.firstName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="user.lastName">Last name</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{user.lastName}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="user.age">Age</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{user.age}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="user.guild">Guild</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{user.guild}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="user.rank">Rank</span>
                        </td>
                        <td>
                            <span class="form-control-static" translate="{{'aklApp.rank.' + user.rank}}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="user.description">Description</span>
                        </td>
                        <td>
                            <span class="form-control-static" style="white-space: pre-wrap;">{{user.description}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="user.steamProfile">Steam profile</span>
                        </td>
                        <td ng-if="steamUser">
                            <img ng-src="{{ steamUser.avatarfull }}" class="img-responsive">
                            <a ng-href="https://steamcommunity.com/profiles/{{ steamUser.steamid }}">{{ steamUser.personaname }}</a>
                            <span>
                                <span>(</span>
                                <span translate="user.steamLastLogoff"></span>
                                <span>{{ steamUser.lastlogoff * 1000 | date }}</span>
                                <span>)</span>
                            </span>
                        </td>
                        <td ng-if="!steamUser">
                            <a ng-href="https://steamcommunity.com/profiles/{{ user.communityId }}">{{ user.communityId }}</a>
                        </td>
                    </tr>
                </table>
            </div>

            <button type="button"
                    ui-sref="teams.detail"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
                <span translate="entity.action.back">Back</span>
            </button>
        </div>
    </div>
</div>