<div class="container" ng-cloak="">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="steam.title" translate-values="{username: '{{settingsAccount.login}}'}">Steam settings for <b>{{settingsAccount.login}}</b></h1>

            <div class="form-group">
                <label for="communityId" translate="steam.communityId">Steam Community ID</label>
                <input id="communityId" class="form-control" type="text" ng-model="settingsAccount.communityId" disabled="">
            </div>

            <div class="form-group">
                <label for="steamId" translate="steam.steamId">Steam ID</label>
                <input id="steamId" class="form-control" type="text" ng-model="settingsAccount.steamId" disabled="">
            </div>

            <a href="api/login" class="btn btn-primary" role="button">
                <span class="fa fa-steam"></span>&nbsp;
                <span translate="steam.change">Change Steam user</span>
            </a>
        </div>
    </div>

</div>
