<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="#{page.title}">Akateeminen Kynäriliiga</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-color: #fafafa;
        }
    </style>
</head>
<body>
    <br />
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="#{error.title}">
                    Your request cannot be processed
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    <span th:text="#{error.status}">Status:</span>&nbsp;<span th:text="${error}"></span>&nbsp;(<span th:text="${error}"></span>)<br/>
                    <span th:if="${!#strings.isEmpty(message)}">
                    <span th:text="#{error.message}">Message:</span>&nbsp;<span th:text="${message}"></span><br/>
                </span>
                </p>
                <a href="/akl-app" th:text="#{page.link}">Back to the homepage</a>
            </div>
        </div>
    </div>
</body>
</html>
