<div class="container">

    <akl-alert></akl-alert>

    <div class="row">
        <div class="col-md-12">
            <h1 translate="aklApp.group.home.title">Group games</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" ui-sref="group.new">
                <span class="glyphicon glyphicon-flash"></span>&nbsp;<span translate="aklApp.group.home.createLabel">Create a group</span>
            </button>
            <button type="button" class="btn btn-primary" ui-sref="group.teams">
                <span class="glyphicon glyphicon-sort"></span>&nbsp;<span translate="aklApp.group.home.addTeams">Add teams to groups</span>
            </button>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-share"></span>&nbsp;<span translate="aklApp.group.home.createTournament">Create tournament</span>
            </button>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-groups" ng-repeat="group in groups">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">{{ group.name }}</h3>

                    <button type="button" class="btn btn-primary pull-right" ui-sref="group.edit({ id:group.id })">
                        <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span>Edit</span>
                    </button>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-groups">
                            <thead>
                                <tr>
                                    <th translate="aklApp.team.tag">Tag</th>
                                    <th translate="aklApp.team.name">Name</th>
                                    <th translate="aklApp.team.rank">Rank</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="team in group.teams">
                                    <td>{{team.tag}}</td>
                                    <td>
                                        <a ui-sref="team.detail({id:team.id})">
                                            {{team.name}}
                                        </a>
                                    </td>
                                    <td>{{team.rank | uppercase}}</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>