html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll;
}

body {
    margin-bottom: $footer-height + $line-height-computed;
    background-color: $bg-color;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    word-wrap: break-word;
}

body::-webkit-scrollbar {
    width: 0.75em;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-track {
    background-color: $primary-bg-color;
}

body::-webkit-scrollbar-thumb {
    background-color: $secondary-green-color;
}

.modal-body {
    p {
        word-break: break-all;
    }
}

textarea {
    resize: vertical;
}

.development {
    position: absolute;
    width: 62px;
    height: 62px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/dev_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

.alert .popover pre {
    font-size: 10px;
}

.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.fc-agendaWeek-view {
    tr {
        height: 40px;
    }
}

.calendar-event {
    background-color: red;
    border: none;
    border-radius: 0;
    margin: 2px;
    padding: 2px;
}

.calendar-event-green {
    background-color: green;
}

.btn-group {
    display: flex;
}

.rank {
    width: 100px;
}
