$bg-color:  #fafafa;
$primary-bg-color: #31302B;
$secondary-bg-color: #737169;

$green-color: #119784;
$primary-green-color: #52B6A8;
$secondary-green-color: #006052;

$header-height: 100px;
$header-border: 4px;
$logo-height: 50px;

$footer-height: 80px;
