.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    height: 80px;
    padding-top: 10px;
    border-top: 10px solid $secondary-green-color;
    background-color: $primary-bg-color;
    color: $sprimary-green-color;
}

.footer-version {
    font-size: 10px;
    color: #ccc
}
