.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    padding-top: 10px;
    border-top: 10px solid $secondary-green-color;
    background-color: $primary-bg-color;
    color: $sprimary-green-color;
    p {
        margin-bottom: 0;
    }
}

.footer-version {
    font-size: 10px;
    color: #ccc
}
