.green-content {

    h1,
    h2,
    h3,
    h4,
    h5 {
        color: white;
        background-color: $green-color;
        border-left: 20px solid $secondary-green-color;
        padding-left: 10px;
    }

    hr {
        border-top: 2px solid $primary-green-color;
    }
}
