.header {
    height: $header-height;
    background-color: $primary-bg-color;
    color: #FFFFFF;
    border-bottom: solid $header-border $secondary-green-color;
}

.logo {
    position: relative;
    display: inline-block;
    cursor: default;
    height: $logo-height;
    margin-top: $header-height / 2 - $logo-height / 2;

}
.logo-short {
    line-height: 1;
    font-size: $logo-height;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}
.logo-full-top, .logo-full-bottom {
    position: absolute;
    left: 100px;
    display: inline-block;
    line-height: 1.35;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

.logo-full-top {
    top: 0;
}

.logo-full-bottom {
    bottom: 0;
}

.account-align {
    position: relative;
    margin-top: $header-height / 2;
    height: ($header-height - $header-height / 2) - $header-border;
    a {
        color: $sprimary-green-color;
    }
}

.account-info {
    margin-top: $header-height / 2 - $logo-height / 2;
    position: absolute;
    bottom: 0;
    right: 0;
}

.language-btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
