$active-border-size: 2px;

.navbar {
    background-color: #FFFFFF;
}

.navbar-default {

    .navbar-nav {
        > .active > a {
            @media screen and (min-width: $screen-sm-min) {
                &,
                &:hover,
                &:focus {
                    background-color: transparent;
                    padding-bottom: $navbar-padding-vertical - $active-border-size;
                    border-bottom: $active-border-size solid $sprimary-green-color;
                }
            }
        }
    }

    .navbar-nav {}

    .nav-pills > li > a {
        border-radius: 0;
    }

}
