$primary-bg-color: #31302B;
$secondary-bg-color: #737169;
$sprimary-green-color: #52B6A8;
$secondary-green-color: #006052;

$header-height: 100px;
$header-border: 4px;
$logo-height: 50px;

$footer-gutter-height: 20px;
$footer-height: 80px;
