<div class="container">

    <akl-alert></akl-alert>

    <div class="row">
        <div class="col-md-12">
            <h2 translate="user.title" class="ng-scope">Users</h2>
        </div>
    </div>

    <div class="modal fade" id="changeUserAuthorities">
        <div class="modal-dialog" style="width: 800px">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="changeAuthorities()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                        <h4 class="modal-title">Authorities</h4>
                    </div>
                    <div class="modal-body">
                        <p>Change <b>{{ user.login }}</b> authorities.</p>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th ng-repeat="authority in authorities">
                                            {{ authority.name }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-repeat="authority in userAuthorities" class="text-center">
                                            <input type="checkbox" ng-model="authority.value">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUserConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete <b>{{ user.login }}</b>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-stiped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Login</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Community ID</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(index, user) in users">
                        <td>{{ user.id }}</td>
                        <td>{{ user.login }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a ng-href="https://steamcommunity.com/profiles/{{ user.communityId }}">{{ user.communityId }}</a>
                        </td>
                        <td>
                            <div class="pull-right">
                                <button type="submit"
                                        class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                                    <span translate="entity.action.view">View</span>
                                </button>
                                <button type="submit"
                                        ng-click="openAuthorities(index)"
                                        class="btn btn-primary btn-sm">
                                    <span class="glyphicon glyphicon-ok"></span>&nbsp;
                                    <span translate="user.authorities">Authorities</span>
                                </button>
                                <button type="submit"
                                        ng-click="delete(index)"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                                    <span translate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
