<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myGameServerLabel" translate="aklApp.gameServer.home.createOrEditLabel">Create or edit a GameServer</h4>
    </div>
    <div class="modal-body">
        <akl-alert-error></akl-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="gameServer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="aklApp.gameServer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="gameServer.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="aklApp.gameServer.server_ip" for="field_server_ip">Server_ip</label>
            <input type="text" class="form-control" name="server_ip" id="field_server_ip"
                    ng-model="gameServer.server_ip"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="aklApp.gameServer.server_port" for="field_server_port">Server_port</label>
            <input type="number" class="form-control" name="server_port" id="field_server_port"
                   ng-model="gameServer.server_port" placeholder="27015"
            />
        </div>
        <div class="form-group">
            <label class="control-label" translate="aklApp.gameServer.rcon_ip" for="field_rcon_ip">Rcon_ip</label>
            <input type="text" class="form-control" name="rcon_ip" id="field_rcon_ip"
                    ng-model="gameServer.rcon_ip"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="aklApp.gameServer.rcon_port" for="field_rcon_port">Rcon_port</label>
            <input type="number" class="form-control" name="rcon_port" id="field_rcon_port"
                   ng-model="gameServer.rcon_port" placeholder="27015"
            />
        </div>
        <div class="form-group">
            <label class="control-label" translate="aklApp.gameServer.rcon_password" for="field_rcon_password">Rcon_password</label>
            <input type="text" class="form-control" name="rcon_password" id="field_rcon_password"
                    ng-model="gameServer.rcon_password"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="aklApp.gameServer.state" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="gameServer.state" id="field_state">
                <option value="OFFLINE" translate="aklApp.GameServerState.OFFLINE">OFFLINE</option>
                <option value="IDLE" translate="aklApp.GameServerState.IDLE">IDLE</option>
                <option value="UNKNOWN" translate="aklApp.GameServerState.UNKNOWN">UNKNOWN</option>
                <option value="LIVE" translate="aklApp.GameServerState.LIVE">LIVE</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
