<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <div class="logo">
                    <h1 class="logo-short" translate="">AKL</h1>
                    <h4 class="logo-full-top">Akateeminen</h4>
                    <h4 class="logo-full-bottom">Kynäriliiga</h4>
                </div>
            </div>
            <div class="col-xs-8">
                <div class="pull-right" ng-controller="LanguageController">
                    <div class="btn-group" role="group">
                        <a href=""
                           role="button"
                           class="btn btn-primary btn-sm language-btn"
                           active-menu="{{language}}"
                           ng-click="changeLanguage(language)"
                           ng-repeat="language in languages">
                            {{language | findLanguageFromKey}}
                        </a>
                    </div>
                </div>
                <div class="account-align" ng-if="isAuthenticated()">
                    <a ng-href="{{steamUser.response.players[0].profileurl}}">
                        <div class="account-info pull-right">
                            <span>{{steamUser.response.players[0].personaname}}</span>&nbsp;
                            <img ng-src="{{steamUser.response.players[0].avatar}}">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-static-top " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" class="asd">
                        <span class="glyphicon glyphicon-home"></span>&nbsp;
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="schedule">
                        <span class="fa fa-clock-o"></span>&nbsp;
                        <span translate="global.menu.schedule">Schedule</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="teams">
                        <span class="fa fa-users"></span>&nbsp;
                        <span translate="global.menu.teams">Teams</span>
                    </a>
                </li>
                <li ui-sref-active="active" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="fa fa-trophy"></span>&nbsp;
                            <span class="hidden-tablet" translate="global.menu.league">League</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="groups">
                                <span class="fa fa-calendar"></span>&nbsp;
                                <span translate="global.menu.groups">Lohkot</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="playoffs">
                                <span class="fa fa-sitemap"></span>&nbsp;
                                <span translate="global.menu.playoffs">Playoffs</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="final">
                                <span class="fa fa-trophy"></span>&nbsp;
                                <span translate="global.menu.final">Final</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="afterparty">
                                <span class="glyphicon glyphicon-glass"></span>&nbsp;
                                <span translate="global.menu.afterparty">Jatkobileet</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="rules">
                        <span class="fa fa-gavel"></span>&nbsp;
                        <span translate="global.menu.rules">Rules</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="live" style="color: red;">
                        <span class="fa fa-twitch"></span>&nbsp;
                        <span translate="global.menu.live">Live</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;
                            <span class="hidden-tablet" translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="gameServer">
                                <span class="fa fa-server"></span>&nbsp;
                                <span translate="global.menu.entities.gameServer">Game Server</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ><a ui-sref="localizedText"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.localizedText">localizedText</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="text"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.text">text</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="team"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.team">team</span></a></li>
                        <!-- JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-role="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>&nbsp;
                            <span class="hidden-tablet" translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="tracker"><span class="glyphicon glyphicon-eye-open"></span>
                            &nbsp;<span translate="global.menu.admin.tracker">User tracker</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                            &nbsp;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                            &nbsp;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                            &nbsp;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &nbsp;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                            &nbsp;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                            &nbsp;<span translate="global.menu.admin.apidocs">API</span></a></li>
                        <li ng-hide="inProduction"><a href='/console' target="_tab"><span class="glyphicon glyphicon-hdd"></span>
                            &nbsp;<span translate="global.menu.admin.database">Database</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('account')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>&nbsp;
                            <span class="hidden-tablet" translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings"><span class="glyphicon glyphicon-wrench"></span>
                            &nbsp;<span translate="global.menu.account.settings">Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password"><span class="glyphicon glyphicon-lock"></span>
                            &nbsp;<span translate="global.menu.account.password">Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="steam"><span class="fa fa-steam"></span>
                            &nbsp;<span translate="global.menu.account.steam">Steam</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="sessions"><span class="glyphicon glyphicon-cloud"></span>
                            &nbsp;<span translate="global.menu.account.sessions">Sessions</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span>
                            &nbsp;<span translate="global.menu.account.logout">Log out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>
                            &nbsp;<span translate="global.menu.account.login">Authenticate</span></a></li>

                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register"><span class="glyphicon glyphicon-plus-sign"></span>
                            &nbsp;<span translate="global.menu.account.register">Register</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
