<div class="container" ng-cloak="">
    <div class="row">
        <div class="col-md-12">

            <h2><span translate="aklApp.team.detail.title">Team</span> {{team.id}}</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th translate="entity.detail.field">Field</th>
                        <th translate="entity.detail.value">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span translate="aklApp.team.tag">Tag</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{team.tag}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.name">Name</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{team.name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.imageUrl">ImageUrl</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{team.imageUrl}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.rank">Rank</span>
                        </td>
                        <td>
                            <span translate="{{'aklApp.Rank.' + team.rank}}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.description">Description</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{team.description}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.captain">Captain</span>
                        </td>
                        <td>
                            <span class="form-control-static">{{team.captain.login}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.members">Members</span>
                        </td>
                        <td>
                            <p ng-repeat="member in team.members">
                                <span class="form-control-static">{{member.login}}</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.standins">Standins</span>
                        </td>
                        <td>
                            <p ng-repeat="standin in team.standins">
                                <span class="form-control-static">{{standin.login}}</span>
                            </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit"
                    onclick="window.history.back()"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
            </button>

        </div>
    </div>
</div>
