<div class="container">

    <akl-alert></akl-alert>

    <div id="membershipRequestConfirmation" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="requestForm" ng-submit="sendRequest()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" translate="aklApp.team.request.title">Confirm membership request</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="aklApp.team.request.question">Are you sure you want to request an invitation to this team? You can't join multiple teams and can't make more membership requests while you have a pending one</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="requestForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-envelope"></span>&nbsp;<span translate="aklApp.team.request.action">Send request</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="membershipRequestDeclination" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="requestForm" ng-submit="sendDecline()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" translate="aklApp.team.request.decline.title">Decline membership request</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="aklApp.team.request.decline.question">Are you sure you want to decline this membership request?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="requestForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>&nbsp;<span translate="aklApp.team.request.decline.action">Send request</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>{{team.name}} (<b>{{team.tag}}</b>)</h1>

            <div class="alert alert-warning" ng-if="isAuthenticated() && !account.email && !account.teamId">
                <p translate="aklApp.team.membershipRequiredInfo" translate-compile>You can't request a team membership until you've added your personal details in the settings menu. Go to <a ui-sref="settings">settings</a> and fill your details to request membership.</p>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <td style="width: 200px">
                            <span translate="aklApp.team.rank">Rank</span>
                        </td>
                        <td>
                            <span translate="{{'aklApp.Rank.' + team.rank}}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.representing">Representing</span>
                        </td>
                        <td>
                            {{team.representing}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.description">Description</span>
                        </td>
                        <td>
                            <span class="form-control-static" style="white-space: pre-wrap;">{{team.description}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.captain">Captain</span>
                        </td>
                        <td>
                            <span class="form-control-static">
                                <a ui-sref="user({ id: team.captain.id })">
                                    {{team.captain.nickname}}
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.members">Members</span>
                        </td>
                        <td>
                            <p ng-repeat="member in team.members">
                                <span class="form-control-static">
                                    <a ui-sref="user({ id: member.id })">
                                        {{member.nickname}}
                                    </a>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate="aklApp.team.standins">Standins</span>
                        </td>
                        <td>
                            <p ng-repeat="standin in team.standins">
                                <span class="form-control-static">
                                    <a ui-sref="user({ id: standin.id })">
                                        {{standin.nickname}}
                                    </a>
                                </span>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>

            <div ng-if="requests && requests.length > 0">
                <h3 translate="aklApp.team.requests">Membership requests</h3>

                <div class="table-responsive">
                    <table class="table">
                      <tr ng-repeat="request in requests">
                        <td>{{request.nickname}}</td>
                        <td>
                          <div class="pull-right">
                            <a ui-sref="team.detail.accept({id: team.id, userId: request.id})" class="btn btn-success btn-sm">
                              <span class="glyphicon glyphicon-ok"></span>&nbsp;
                              <span translate="aklApp.team.request.accept">Accept request</span>
                            </a>
                            <button class="btn btn-danger btn-sm" ng-click="declineRequest(request.id)">
                              <span class="glyphicon glyphicon-remove"></span>&nbsp;
                              <span translate="aklApp.team.request.decline.action">Decline request</span>
                            </button>
                          </div>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="submit"
                    ui-sref="team"
                    class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;
                <span translate="aklApp.team.toListing">Back to team listing</span>
            </button>
            <button type="submit" ng-if="isAuthenticated() && account.activated && !account.teamId && !account.requested"
                    class="btn btn-primary" ng-click="requestInvite()">
                <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                <span translate="aklApp.team.requestMembership">Request membershipp</span>
            </button>
        </div>
    </div>
</div>
